<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <title>
      {% block title%} {{title}} {% endblock title %}-|-&nbsp Filmadillo
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style0.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  {% endblock head %}

  {% block navbar %}
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#463e3d;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Filmadillo</a>
	<span class="glyphicon glyphicon-film"></span>
      </div>
      <form class="navbar-form navbar-left" action="/search" method="GET,POST">
        <div class="form-group">
          <input type="text" class="form-control" name="title" placeholder="Enter Movie Here">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      	{% block icons %}
        {% if loggedIn %}
	<li><a href="/profile"><span class="glyphicon glyphicon-home" style="padding-top:0px"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out" style="padding-top:0px;"></span> Log Out</a></li>
        {% else %}
        <li><a href="/signup"><span class="glyphicon glyphicon-user" style="padding-top:0px;"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in" style="padding-top:0px;"></span> Log In</a></li>
        {% endif %}
        {% endblock icons %}
      </ul>
    </div>
  </nav>
  {% endblock navbar %}

  {% block body %}
  <body>

    {# Display flashed messages #}
    {% set messages = get_flashed_messages() %}
    {% for msg in messages %}
    <div class = "container" style="padding:20px">
      {% if msg.find("Yay!") >= 0 %}
      <div class="alert alert-success" role="alert">{{msg}}</div>
      {% endif %}
      {% if msg.find("Yikes!") >= 0 %}
      <div class="alert alert-danger" role="alert">{{msg}}</div>
      {% endif %}
    </div>
    {% endfor %}
    {% block content %}
    <div class = "jumbotron" >
      <h1 style="color:black"> Welcome!</h1>
      <br>
      <p class = "large">
	       Search. <br>
         Add. <br>
         Watch. <br>
         Get reviews from top critics and information about any movie you want! Using the NYTimes and OMDb apis,
         users can search and save any movies they're interested in.
      </p>


      <br><br>
      <div class = "page-header" style="text-align:center">
	<h1 style="color:black"> Recommended Movies: </h1>
      </div>
      <div class = "container" style="align:left">
	{% for i in movies %}
	<form action = "/movie_review" method = 'POST' style="text-align:left">
	  <h3> {{ i[0].replace("_", " ") }} </h3>
	  <p> {{ i[2] }} </p>
	  <input type = "hidden" name = "title" value = {{ i[0] }}>
	  <input type = "hidden" name = "url" value = {{ i[1] }}>
	  <button type="submit" class="btn btn-info">More Info</button>
	  <br><hr>
	</form>
	{% endfor %}
	{% endblock content %}
      </div>
    </div>
  </body>
  {% endblock body %}
</html>
