<!DOCTYPE html>
<html>
  <head>
    <title>NYT Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style0.css') }}>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#463e3d;">
      <div class="container-fluid">
	<div class="navbar-header">
          <a class="navbar-brand" href="#">NYT Books</a>
	  <span class="glyphicon glyphicon-book"></span>
          <!--<img src = "glyphicon glyphicon-book">-->
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
	      <ul class="dropdown-menu scrollable-menu">
		{% for i in names %}
		<li><a href={{"#"+i[1]}}>{{i[0]}}</a></li>
		{% endfor %}
	      </ul>
            </li>
	  </ul>
	</div>
      </div>
    </nav>

    <div class = "jumbotron">
      <h1> Books from the New York Times. </h1>
      <br><br><br>
      <p class = "large">
	Using the API provided by the New York Times, you now have access to the NYT Bestsellers List, as well as a simple to navigate platform to read reviews made by top critics in the field. All books on this site are complete with a short blurb, titles, and even an Amazon url, should you want to acquire it for your personal library.  
      </p>
    </div>
    {% for i in names %}
    <div class = "container" id = {{i[1]}}>
      <h3> {{i[0]}} </h3>
      <p>
	{% if loop.index <= 1 %}
	{% for item in dict%}
	<b>{{item[0]["title"]}}</b> <br>
	<i>{{item[0]["descr"]}}</i> <br>
	Publisher: {{item[0]["publisher"]}}<br>
	Rank: {{item[0]["rank"]}}<br>
	<a href = {{item[0]["buy"]}}>Buy it here!</a><br>
	{% if item[0]["reviews"] == NONE %}
	There are no reviews at this time.
	{% else %}
	<a href = {{item[0]["reviews"]}}> Sunday Review </a>
	{% endif %}
	<br><br><br>
	{% endfor %}
	{% endif %}
      </p>
      <br> <br>
    </div>
    {% endfor %}
  </body>
</html>
